body{
    background-color: grey;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
a{
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: blue;
}
a:visited {
    color: green
}

.goblin{
    width: 200px;
    border-radius: 50%;
}

.info {
    margin-bottom: 20px;
    display: flex;
}
@media (max-width: 700px ) {
    .info{
        display: block;
        text-align: center;
    }

}
.info p {
color: #041e50;
margin: 0;
font-style: italic;
font-weight: bold;
text-decoration: underline;
text-decoration: capitalize;
letter-spacing: 5px;
/* word-spacing: 5px */
}
.Ñontainer {
    max-width: 750px;
    margin: auto;
    padding-top: 30pxS;
}
/*.social{
    background-color: greenyellow;
    padding: 15px 40px;/*top right bottom left*/
    /*margin: 10px;
    border: 5px solid red;
  border-left-style: dotted;
border-right-style: dotted;
border-top-width: 10px;
}*/
/*.box-model > div {
    float: left;
    background-color: black;
    height: 200px;
    width: 25%;
    border: 4px solid red;
    box-sizing: border-box;

}*/

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.bg-yellow {
    background-color: beige;
}
.bg-green {
    background-color: rgb(190, 190, 103);
}
.bg-red {
    background-color:bisque;
}

.card {
    margin-bottom: 10px;
}
.list{
    padding: 0px 20px;
    color: rgb(211, 125, 13);
    border-bottom: 10px;
    margin: 1px underline grey;
}
.table th{
    padding-bottom: 20px;
    
}
.table td{
    padding: 0px 20px;
    
}
/*{
    padding: 0;
    margin: 0;
}*/
.table th:nth-child(3), .table th:nth-child(2), .table th:nth-child(1){
    color: blue;
}
.link-list{
    padding: 0px;
}
.link-list li{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.contact h2{
text-align: center;
}
.for-group label{
    display: block;
    font-size: 14px;
    color: aqua;

}
.for-group input, .for-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0px 10px;
    outline: none;
    font-family: inherit;
    }
    .row{
        display: flex;
        margin-bottom: 20px;
    }
    .row > .for-group{
        width: 50%;
        margin-right: 20px;
    }
    .info-text{
        margin-left: 40px;
        margin-bottom: 10px;

    }
    .btn{
        background: black;
        padding: 15px 20px;
        color: whitesmoke;
        border: none;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
    }
    .btn:hover{
        opacity: 0.9;
    }
    /*.position{
        position: relative;
        border: 4px solid black;
        margin-top: 40px;
        padding: 20px;
        height: 300pxS;

    }
    .box{
        position: fixed;
        top: 0;
        left: 0px;
        bottom: 150px;
        left: 0px;
       
    }*/